[submodule "open-source/amazon-kinesis-video-streams-pic"]
	path = open-source/amazon-kinesis-video-streams-pic
	url = git@github.com:mateuszboryn/amazon-kinesis-video-streams-pic.git
[submodule "open-source/amazon-kinesis-video-streams-producer-c"]
	path = open-source/amazon-kinesis-video-streams-producer-c
	url = git@github.com:mateuszboryn/amazon-kinesis-video-streams-producer-c.git
	branch = rpi-demo
